<div class="wrap">
<div class="fside">{{FrontSide}}</div>
  <div class="sent-center">
    <div class="jpsentence" lang="ja">
      {{furigana:SentFurigana}}
{{^SentFurigana}}
      {{edit:furigana:SentKanji}}
{{^SentKanji}}<b>
      {{furigana:VocabFurigana}}
{{^VocabFurigana}}
      {{edit:VocabKanji}}
{{/VocabFurigana}}</b>
{{/SentKanji}}
{{/SentFurigana}}
    </div>
{{#SentEng}}
  <div class="ensentence" lang="en">{{hint:SentEng}}</div>
{{/SentEng}}
  </div>

<div class="vocab" align="center">
  {{VocabAudio}}{{SentAudio}}{{VocabPitchPattern}}
{{^VocabPitchPattern}}
  {{text:kana:VocabFurigana}}
{{/VocabPitchPattern}}
{{#VocabKanji}}
  【{{edit:text:kanji:VocabKanji}}】
{{/VocabKanji}}
</div>

<div class="definition-mono">{{edit:VocabDefMono}}</div>

{{#VocabDef}}
{{#VocabDefMono}}
<div class="sent-center">
  <div class="definition">{{edit:hint:VocabDef}}</div>
</div>
{{/VocabDefMono}}
{{^VocabDefMono}}
<div class="definition-mono">{{edit:VocabDef}}</div>
{{/VocabDefMono}}
{{/VocabDef}}

{{#Notes}}
  <div class="notes">
  <div class="tags">Notes</div>
    <div>{{edit:Notes}}</div>
  </div>
{{/Notes}}

  <div class="images">{{Image}}</div>
  <div class="source">{{edit:Source}}</div>

<hr />

<footer>
{{#SentKanji}}
  <a href="https://www.deepl.com/translator#ja/en/{{text:kanji:SentKanji}}" title="Translate with DeepL">Translate</a>
  <a href="https://jisho.org/search?keyword={{text:kanji:SentKanji}}" title="Sentence on Jisho">Jisho</a>
{{/SentKanji}}
{{#VocabKanji}}
  <a href="https://duckduckgo.com/?q={{kanji:text:VocabKanji}}&iax=images&ia=images&kp=-2&kl=jp-jp" title="Vocab Image on DuckDuckGo">Images</a>
  <a href="http://www.weblio.jp/content/{{text:VocabKanji}}" title="Vocab on Weblio">Weblio</a>
  <a href="https://wadoku.de/search/?q={{text:VocabKanji}}" title="Vocab on Wadoku">Wadoku</a>
{{/VocabKanji}}
</footer>
</div> <!-- /wrap -->

<script>
    function reveal_text() {
        const elem = document.querySelector(".ensentence > a.hint");
        if (elem) {
            elem.innerText = "English translation";
        }
    }
    reveal_text();

    function reveal_definition() {
        const elem = document.querySelector(".definition a.hint");
        if (elem) {
            elem.innerText = "Other definitions";
        }
    }
    reveal_definition();
</script>