<div class="wrap card-is-front">

    <header>
  
      <div class="jpsentence toggle-container">
        <label class="toggle-switch" title="Toggle font style (Mincho/Sans)">
          <input type="checkbox" id="fontToggle">
          <span class="slider"></span> <!-- Closing tag fixed -->
        </label>
      </div>
  
      {{#Tags}}
      <!-- Hidden div stores raw tags for the script -->
      <div id="anki-raw-tags" class="u-hidden">{{Tags}}</div>
  
      <!-- Container for script-placed filtered tags -->
      <div class="tags-container"></div>
      {{/Tags}}
  
      {{#Focus}}
      <div class="tags">{{Focus}}</div>
      {{/Focus}}
  
    </header>
  
      <div class="sent-center tsc">
          <!-- This tag is hidden on the front. -->
          <div class="jpsentence" lang="ja">
              {{edit:furigana:SentKanji}} {{^SentKanji}}
              <nokana>{{edit:kanji:SentKanji}}</nokana>
              {{/SentKanji}}
          </div>
      </div>
  
      <div class="sent-center jp1k-mode">
          <!-- JP1K mode is active only if note has been tagged as jp1k. -->
          <div class="jpsentence" lang="ja">
            {{furigana:SentFurigana}}
         </div>
          <button class="toggle_furigana_button">Toggle Readings</button>
      </div>
  
  
  
  </div>
  <!-- /wrap -->	
  
  <div style="display: none">
      <div id="vocab_kanji_hidden">{{VocabKanji}}</div>
      <div id="pitchnum_hidden">{{VocabPitchNum}}</div>
      <div id="kanaword_hidden">{{kana:VocabFurigana}}</div>
  </div>
  <script src="_script.js"></script>