/*
 * AJT Japanese CSS 24.7.14.1
 * Copyright: Ajatt-Tools and contributors; https://github.com/Ajatt-Tools
 * License: GNU AGPL, version 3 or later; https://www.gnu.org/licenses/agpl-3.0.html
 */

/* Reset for AJT elements */

[class^="ajt__"],
[class^="ajt__"]::before,
[class^="ajt__"]::after,
[class^="ajt__"] *,
[class^="ajt__"] *::before,
[class^="ajt__"] *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Pitch accent information popups */

.ajt__word_info {
    /* Popup container. Has attributes that describe the word's pitch accent. */
    --acc-color-1: rgb(165, 165, 165);
    --acc-color-2: rgba(111, 144, 167, 0.3);
    --acc-color-3: rgb(42, 27, 10);
    --acc-color-4: rgb(245, 245, 245);
    position: relative;
    display: inline-block;

    &::after {
        /* Triangle decoration */
        content: "";
        display: block;
        position: absolute;
        bottom: 0%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent var(--acc-color-1) transparent;
    }

    &:hover {
        /* Highlight word on hover */
        background-color: var(--acc-color-2);
        cursor: pointer;
    }

    &::after,
    & .ajt__info_popup {
        /* Hide the popup by default */
        visibility: hidden;
        z-index: -9999;
    }

    &:hover::after,
    &:hover .ajt__info_popup {
        /* Show the popup on hover */
        visibility: visible;
        z-index: 9999;
    }
}

.ajt__info_popup {
    /* Popup (tooltip) that shows pitch accents. Visible on hover. */
    --max-popup-width: calc(100vw - 1rem);
    --max-popup-height: 320px;
    --text-height: 1.4rem;
    --border-size: 1px;

    display: block;
    color: var(--acc-color-3);
    cursor: auto;
    font-weight: normal;
    background-color: var(--acc-color-4);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    padding: 0rem;
    max-width: max(80%, var(--max-popup-width));
    min-width: min(var(--max-popup-width), 240px);
    width: 100%;
    max-height: var(--max-popup-height);
    box-shadow: 2px 2px 8px rgba(0 0 0 / 25%);
    border: var(--border-size) solid var(--acc-color-1);
}

.ajt__frame_title {
    /* Title bar (says "Information") */
    text-align: center;
    background-color: rgb(197, 197, 197);
    font-size: 1rem;
    user-select: none;
    height: var(--text-height);
    line-height: var(--text-height);
}

.ajt__frame_content {
    /* Popup content (contains a list of pitch accents) */
    overflow: auto;
    display: grid;
    place-items: center;
    max-height: calc(var(--max-popup-height) - var(--text-height) - var(--border-size) * 2);
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0;
    padding: 0.3rem 0;
}
.ajt__frame_content ul {
    list-style-type: none;
}
.ajt__frame_content li + li {
    margin: 0.3rem 0 0;
}

/* Downstep line colors */

.ajt__downstep_heiban {
    --downstep-color: #3366cc;
}
.ajt__downstep_atamadaka {
    --downstep-color: #ff0000;
}
.ajt__downstep_odaka {
    --downstep-color: #008000;
}
.ajt__downstep_nakadaka {
    --downstep-color: #eb8500;
}

/* Downstep lines. */

.ajt__HL {
    box-shadow: inset -2px 2px 0 0px var(--downstep-color, currentColor);
}
.ajt__L {
    box-shadow: inset 0px -2px 0 0px var(--downstep-color, currentColor);
}
.ajt__LH {
    box-shadow: inset -2px -2px 0 0 var(--downstep-color, currentColor);
}
.ajt__H {
    box-shadow: inset 0px 2px 0 0px var(--downstep-color, currentColor);
}

/* Tooltips (multiple readings) */

.ajt__tooltip {
    --acc-color-1: rgb(0, 0, 0);
    --acc-color-2: hsl(0 80% 40% / 20%);
    --acc-color-3: #fff;
    --acc-color-4: #f6a192;

    position: relative;
    display: inline-block;

    &::before {
        /* dotted underline */
        content: "";
        display: block;
        position: absolute;
        bottom: 5px;
        right: 0;
        left: 0;
        border-bottom: 2px dotted var(--acc-color-2);
    }
    &::after {
        /* Triangle decoration */
        content: "";
        display: block;
        position: absolute;
        bottom: 0%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent var(--acc-color-1) transparent;
    }

    &::after,
    & .ajt__tooltip-text {
        /* Hide the Tooltip by default */
        visibility: hidden;
        z-index: -9999;
    }

    &:hover::after,
    &:hover .ajt__tooltip-text {
        /* Show the Tooltip on hover */
        visibility: visible;
        z-index: 9999;
    }

    .tags {
        position: absolute;
        top: 0px;
        right: -9px;
    }
}

.ajt__tooltip .ajt__tooltip-text {
    --width: 180px;

    font-weight: 500;
    font-size: 18px;
    width: var(--width);
    background-color: var(--acc-color-1);
    color: var(--acc-color-3);
    text-align: left;
    border-radius: 6px;
    padding: 0 2px;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    word-break: keep-all;
    font-weight: normal;

    & .ajt__tooltip-reading:not(:last-child)::after {
        content: "; ";
        color: var(--acc-color-4);
    }
}

/* Hide Tooltips if Popups are enabled. */
.ajt__word_info {
    .ajt__tooltip {
        display: initial;
    }
    .ajt__tooltip .ajt__tooltip-text,
    .ajt__tooltip::before,
    .ajt__tooltip::after {
        display: none;
        height: 0px;
    }
}

/* Pitch accent tags */

.ajt__pitch_number_tag {
    padding: 1px 3px;
    margin: 0 1px;

    display: inline-block;
    vertical-align: top;
    text-transform: lowercase;
    text-align: center;
    background-color: var(--downstep-color, #333333);
    color: var(--acc-color-4, #fffaf0);
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
    user-select: none;
    font-family: "Noto Sans", "Droid Sans", "DejaVu Sans", "Liberation Sans", Roboto, Cantarell, "Segoe UI", Arial,
        Meiryo, Oxygen, Ubuntu, "Helvetica Neue", Helvetica, "Noto Color Emoji", "Noto Sans CJK JP", Sans, sans-serif;
}
