@charset "utf-8";

@font-face {
    font-family: "KanjiStrokeOrders";
    src: local("KanjiStrokeOrders"), url("_kso.ttf");
}

@font-face {
    font-family: "Yu Mincho";
    src: local("Yu Mincho"), local("游明朝"), url("_yumin.ttf");
}

@font-face {
    font-family: "Yu Mincho";
    src: local("Yu Mincho Demibold"), local("游明朝 Demibold"), url("_yumindb.ttf");
    font-weight: 600;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card {
    background-color: #fffaf0;
    color: #2a1b0a;
    font-family: "Noto Serif", "Noto Serif CJK JP", Yu Mincho, "Liberation Serif", "Times New Roman", Times, Georgia,
        Serif;
    font-size: 24px;
    text-align: left;
    line-height: 1.4;
    margin: 0 auto;
}

.card1 {
    color: inherit;
}

.card2 .jpsentence ruby rt {
    opacity: 0;
}
.card2 .jpsentence:hover ruby rt {
    opacity: 1;
}

@media screen and (min-width: 820px) {
    .card {
        background-color: #E5D7C9;
        display: flex;
        justify-content: center;
    }
    .wrap {
        width: 800px;
        padding: 0 5px 0;
        background-color: #fffaf0;
        border-left: 1px solid #c9bcbc;
        border-right: 1px solid #c9bcbc;
        min-height: 100vh;
    }
    .wrap .wrap {
        width: auto;
        padding: 0;
        min-height: 0;
        border: 0;
    }
}

hr {
    margin: 2px 0;
    clear: both;
    border: 0;
    border-top: 1px solid #c9bcbc;
}

b {
    font-weight: 600;
}

/* links */
a {
    color: #532f2f;
}

a:hover {
    color: #722a2a;
}

a.hint {
    text-decoration: none;
    text-align: center;
    display: block;
}

/* Hide furigana on front */
nokana ruby rt {
    opacity: 0;
    font-size: 0;
    display: none;
}

notext b {
    background-color: black;
    color: transparent;
}

/* Top */
header {
    display: flex;
    clear: both;
}

header .tags {
    border-radius: 0px 0px 3px 3px;
}

header > div:not(:last-child) {
    margin-right: 3px;
}

/* Space between elements */
.images {
    margin-top: 16px;
}

.images > img {
    margin-bottom: 16px;
}

.sent-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

/* Japanese sentence */

.jpsentence { font-size: 35px; }

/* Hide front side when the back is shown. */

.fside .jpsentence { display: none; }

/* Tags */

.tags {
    font-family: "Noto Sans", "Noto Sans CJK JP", "Liberation Sans", Arial, Sans, sans-serif;
    text-align: center;
    display: inline-block;
    text-transform: lowercase;
    background-color: #333;
    color: #fffaf0;
    font-weight: bold;
    padding: 1px 3px;
    margin: 0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
    line-height: 14px;
}

/* AnkiDroid replay button */

.replaybutton {
    margin: 0;
    margin-right: 3px;
    text-decoration: none;
}

.replaybutton span {
    padding: 0;
    font-size: 16px;
}

.replaybutton span svg {
    fill: #fffaf0;
    background: #333;
    border-radius: 3px;
    vertical-align: top;
    min-width: 16px;
    min-height: 16px;
}

/* PC replay button */

a.replay-button {
    top: -0.125em;
    position: relative;
    margin: 0;
}

a.replay-button svg {
    height: 1em;
    width: 1em;
}

a.replay-button svg path {
    fill: #fffaf0;
}

a.replay-button svg circle {
    fill: #333;
}

/* Footer and links */

footer {
    font-size: 16px;
    text-align: center;
}

footer > a {
    text-decoration: none;
}

footer > a:after {
    content: "·";
    color: brown;
    display: inline-block;
    width: 6px;
}

footer > a:last-child:after {
    content: "";
    width: 0;
}

/* Vocab */

.vocab {
    margin-top: 16px;
}

.vocab div {
    display: inline-block;
}

.vocab br {
    display: none;
}

.vocab > .tags {
    vertical-align: top;
}

.notes > .tags {
    vertical-align: bottom;
}

/* Images */

.images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    align-content: space-between;
    justify-content: space-evenly;
}

.images > img {
    max-width: 47%;
    border-radius: 4px;
    filter: sepia(33%);
}

.images > img:only-child {
    max-width: 100%;
}

/* Production cards */

.production b {
    visibility: hidden;
}

.strokeorder {
    text-align: center;
    font-size: 150px;
    font-family: KanjiStrokeOrders;
}

/* Morphman coloring */

.fside .jpsentence:hover [mtype="unknown"] {
    background-color: #ffff99;
}

.fside .jpsentence:hover [mtype="seen"] {
    background-color: #ffd1b3;
}

.fside .jpsentence:hover [mtype="known"] {
    background-color: #b3e6cc;
}

.fside .jpsentence:hover [mtype="mature"] {
    background-color: transparent;
}

.fside .jpsentence:hover [priority="true"] {
    color: inherit;
}

.fside .jpsentence:hover [frequency="true"] {
    color: inherit;
}

del.MorphManHide,
del.morphmanhide {
    display: none;
}

/* Fix for Yomichan defs */

ul,
ol {
    list-style-type: none;
    display: inline;
    margin: 0px;
    padding: 0px;
}

/* Fix for Yomichan pitch accents */

.vocab ol > li {
    display: inline;
}

.vocab ol > li:after {
    content: "・";
}

.vocab ol > li:last-child:after {
    content: "";
}

/* Night Mode */

.nightMode .jpsentence b {
    color: gray;
}

.nightMode .tags {
    background-color: #f0f0f0;
    color: #333;
}

.nightMode a.replay-button svg path {
    fill: #2f2f31;
}

.nightMode a.replay-button svg circle {
    fill: white;
}

.nightMode .replaybutton span svg {
    fill: #2f2f31;
    background: white;
}

.nightMode.card {
    color: #f0f0f0;
}

.nightMode a {
    color: #ccc;
}

.nightMode a:hover {
    color: #eee;
}

.nightMode .jpsentence b {
    color: gray;
}

.nightMode footer > a:after {
    color: white;
}

/* Don't select furigana */

.jpsentence ruby rt {
    user-select: none;
}
