<div class="wrap">

<div class="fside">{{FrontSide}}</div>

<div class="sent-center">
<div class="jpsentence" lang="ja">
    {{edit:furigana:SentFurigana}}
    {{^SentFurigana}}{{edit:furigana:SentKanji}}{{/SentFurigana}}
</div>
{{#SentEng}}
<div class="ensentence" lang="en">
    {{hint:SentEng}}
</div>
{{/SentEng}}
</div>

<div class="vocab">
    {{VocabAudio}}{{SentAudio}}
    {{VocabPitchPattern}}{{^VocabPitchPattern}}{{kana:VocabFurigana}}{{/VocabPitchPattern}}
    {{#VocabPitchNum}}<span class="tags"
        id="pitchnum">{{VocabPitchNum}}</span>{{/VocabPitchNum}}{{#VocabKanji}}【{{kanji:VocabKanji}}】{{/VocabKanji}}
</div>

{{#VocabDef}}
<div class="definitions">{{edit:furigana:VocabDef}}</div>
{{/VocabDef}}

{{#Notes}}
<div class="notes">
    <div class="tags">Notes</div>
    <div>{{furigana:Notes}}</div>
</div>
{{/Notes}}

{{#Image}}<div class="images">{{Image}}</div>{{/Image}}

<hr>

<footer>{{#SentKanji}}<a title="Translate with SimplyTranslate" href="https://translate.metalune.xyz/?engine=google&text={{text:kanji:SentKanji}}&sl=ja&tl=en">Translate</a><a href="https://jisho.org/search?keyword={{text:kanji:SentKanji}}"
        title="Sentence on Jisho">Jisho</a><a href="https://www.google.co.jp/search?q={{text:kanji:SentKanji}}&tbm=isch"
        title="Search images">Images</a>{{/SentKanji}}{{#VocabKanji}}<a
        href="http://www.weblio.jp/content/{{text:VocabKanji}}" title="Vocab on Weblio">Weblio</a><a
        href="https://wadoku.de/search/?q={{text:VocabKanji}}" title="Vocab on Wadoku">Wadoku</a>{{/VocabKanji}}
</footer>

</div> <!-- /wrap -->

<script>
    function removePitchBrackets() {
        const tags = document.getElementById("pitchnum");
        if (tags !== null) {
            tags.innerHTML = tags.innerHTML.replace(/[\[\]]/g, "");
        }
    }
    markPitch()
    removePitchBrackets()
</script>
