{{#MakeProductionCard}}
{{#SentKanji}}

<header>{{#Tags}}<div class="tags">{{Tags}}</div>{{/Tags}}</header>
{{#Image}}<div class="images" >{{Image}}</div>{{/Image}}
<div class="jpsentence production">{{furigana:SentFurigana}}</div>
<div style="text-align: center;">{{VocabAudio}}{{SentAudio}}</div>
<script>
	document.addEventListener('DOMContentLoaded', threeDots(), false);

	function threeDots() {
		for (const hidden of document.querySelectorAll(".production b, .production strong")) {
			hidden.style.visibility = "visible";
			hidden.innerText = "【" + hidden.innerText.replace(/[^ぁ-んァ-ン]/g, "") + "】";
		}
	}
</script>

{{/SentKanji}}
{{/MakeProductionCard}}
